<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex>
                <v-card v-if="task">
                    <v-card-text>
                        <h1>{{task.name}}</h1>
                        <p>{{task.description}}</p>
                        <v-btn @click="destroy()">Delete</v-btn>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">

  export default {
    name: 'task-single-page',
    data () {
      return {
        task: null

      }
    },
    created () {
      let id = parseInt(this.$store.state.routeModule.params.id)
      this.$tasks.show(id)
        .then((task) => this.task = task)
        .catch(err => console.log)
    },
    methods: {
      destroy () {
        this.$tasks.destroy(this.task.id)
          .then(() => {
            this.$router.push({name: 'project-single', params: {id: this.task.project_id}})
          })
          .catch(err => console.log)
      }
    }
  }

</script>