<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex>
                <v-card>
                    <v-card-text>
                        <h1>Create Task</h1>
                        <task-create-form></task-create-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import TaskCreateForm from '../components/task-create-form'

  export default {
    name: 'task-create-page',
    data () {
      return {}
    },
    created () {
    },
    methods: {},
    components: {TaskCreateForm}
  }

</script>