<template functional>
    <div>
        <v-list two-line subheader>
            <v-subheader inset>Projects</v-subheader>
            <v-list-tile avatar v-for="project in props.projects" v-bind:key="project.id" :to="{name:'project-single', params:{id:project.id}}">
                <v-list-tile-avatar>
                    <v-icon class="grey lighten-1 white--text">folder</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title>{{ project.name }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ project.description }}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </div>
</template>