<template>
    <v-navigation-drawer persistent :mini-variant="miniVariant" fixed clipped v-model="toggle" enable-resize-watcher
                         app>
        <v-list>
            <v-list-tile v-if="currentSidebar" value="true" v-for="(item, i) in currentSidebar.items" :key="i"
                         :to="item.to">
                <v-list-tile-action>
                    <v-icon v-html="item.icon"></v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title v-text="item.title"></v-list-tile-title>
                </v-list-tile-content>

            </v-list-tile>
        </v-list>

    </v-navigation-drawer>
</template>
<script type="text/javascript">
  export default {
    name: 'dashboard-sidebar',
    data () {
      return {
        drawer: true,
        fixed: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js'
      }
    },
    computed: {
      currentSidebar () {
        return this.$sidebar.getCurrent()
      }
    },
    props: ['toggle','miniVariant']
  }
</script>
