<template>
    <v-form>
        <v-alert color="error" icon="warning" :value="errors.message">
            {{errors.message}}
        </v-alert>
        <v-text-field name="firstname" label="First Name" autofocus v-model="first" type="text"
                      :error-messages="firstErrors"></v-text-field>
        <v-text-field name="lastname" label="Last Name" v-model="last" type="text"
                      :error-messages="lastErrors"></v-text-field>
        <v-text-field name="email" label="Email" v-model="email" type="email"
                      :error-messages="emailErrors"></v-text-field>
        <v-text-field name="password" label="Password" v-model="password" type="password"
                      :error-messages="passwordErrors"></v-text-field>
        <v-text-field name="password_confirmation" label="Confirm Password" v-model="password_confirmation"
                      type="password" @keyup.enter="register()"
                      :error-messages="passwordErrors"></v-text-field>
        <v-btn :class="submitColor" @click="register()">{{submitMessage}}</v-btn>
        <v-btn class="secondary" @click="$router.push({name:'login'})">Already Have an Account?</v-btn>
        <v-progress-linear v-if="registering" v-bind:indeterminate="true"></v-progress-linear>
    </v-form>
</template>
<script>
  import { mapLaravelErrors, mapFormStatus, mapFormMethods } from 'utils/utils'
  import registerFormModule from './register-form-module'


  export default {
    name: 'register-form',
    data () {
      return {
        first: '',
        last: '',
        email: '',
        password: '',
        password_confirmation: '',
        submitMessage: 'Sign Up',
        registering: false,
        errors: false,
        submitColor: 'primary'
      }
    },
    methods: {
      register () {
        this.registering = true
        this.errors = false
        this.submitMessage = 'Attempting to Register'
        this.$store.dispatch('authModule/register',
          {
            first: this.first,
            last: this.last,
            email: this.email,
            password: this.password,
            password_confirmation: this.password_confirmation
          })
          .then(response => {
            console.log(response)
            this.registering = false
            this.submitMessage = 'Registered!'
            this.submitColor = 'success'
            setTimeout(() => {
              if (this.$route.params.redirect) {
                this.$router.push({path: this.$route.params.redirect.fullPath})
              } else {
                this.$router.push({name: 'verifyemail', query: { email: this.email }})
              }
            }, 1000)
          })
          .catch(err => {
            console.log(err.message)
            this.errors = err
            this.registering = false
            this.submitMessage = 'Sign Up'
          })
      }
    },
    computed: {
      firstErrors () {
        const errors = []
        if (this.errors && this.errors.errors && this.errors.errors.first) return this.errors.errors.first
        return errors
      },
      lastErrors () {
        const errors = []
        if (this.errors && this.errors.errors && this.errors.errors.last) return this.errors.errors.last
        return errors
      },
      emailErrors () {
        const errors = []
        if (this.errors && this.errors.errors && this.errors.errors.email) return this.errors.errors.email
        return errors
      },
      passwordErrors () {
        const errors = []
        if (this.errors && this.errors.errors && this.errors.errors.password) return this.errors.errors.password

        return errors
      }
    }
  }
</script>