<template>
    <v-form>
        <v-alert color="error" icon="warning" :value="errorMessage">
            {{errorMessage}}
        </v-alert>
        <v-text-field name="firstname"
                      label="First Name"
                      autofocus
                      v-model="formData.first"
                      type="text"
                      :error-messages="firstErrors"
        ></v-text-field>
        <v-text-field
                name="lastname"
                label="Last Name"
                v-model="formData.last"
                type="text"
                :error-messages="lastErrors"
        ></v-text-field>
        <v-text-field
                name="email"
                label="Email"
                v-model="formData.email"
                type="email"
                :error-messages="emailErrors"
        ></v-text-field>
        <v-text-field
                name="password"
                label="Password"
                v-model="formData.password"
                type="password"
                :error-messages="passwordErrors"
        ></v-text-field>
        <v-text-field
                name="password_confirmation"
                label="Confirm Password"
                v-model="formData.password_confirmation"
                type="password"
                @keyup.enter="register()"
                :error-messages="passwordErrors"
        ></v-text-field>
        <v-btn
                :class="submitColor"
                :disabled="submitting"
                @click="register()"
        >
            {{submitMessage}}
        </v-btn>
        <v-btn class="secondary" @click="$router.push({name:'login'})">Already Have an Account?</v-btn>
        <v-progress-linear v-if="submitting" v-bind:indeterminate="true"></v-progress-linear>
    </v-form>
</template>
<script>
  import { formComponentMixin } from 'utils/utils'
  import registerFormModule from './register-form-module'

  /**
   * Register Form
   * Registers a new user account
   */
  export default {
    name: 'register-form',
    mixins: [formComponentMixin(registerFormModule)],
    data () {
      return {}
    },
    methods: {
      register () {
        this.submitForm()
          .then(() => {
            setTimeout(() => {
              this.$router.push({name: 'verifyemail', query: {email: this.formData.email}})
            }, 1000)
          })
          .catch(err => console.log)
      }
    }
  }
</script>