<template>
    <v-container fluid grid-list-md >
        <v-layout row wrap>
            <v-flex>
                <v-card>
                    <v-card-text>
                        <h1>Account</h1>
                        <UserEditForm></UserEditForm>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import UserEditForm from '../components/edit-user-form/edit-user-form'

  export default {
    name: 'account-page',
    data () {
      return {}
    },
    components: {
      UserEditForm
    }
  }

</script>