<template>
    <div>
        Home Page
    </div>
</template>
<script type="text/javascript">
  export default {
    name: 'home-page',
    data () {
      return {
        msg: 'hello vue'
      }
    }
  }
</script>