<template functional>
    <div>
        <v-list two-line subheader>
            <v-subheader inset>Tasks</v-subheader>
            <v-list-tile avatar v-for="task in props.tasks" v-bind:key="task.id" :to="{name:'task-single', params:{id:task.id}}">
                <v-list-tile-avatar>
                    <v-icon class="grey lighten-1 white--text">check_box_outline_blank</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title>{{ task.name }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ task.description }}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </div>
</template>