<template>
    <v-form v-if="projects">
        <v-alert color="error" icon="warning" :value="errorMessage">
            {{errorMessage}}
        </v-alert>

        <v-select
                v-bind:items="projects"
                v-model="formData.project_id"
                label="Project"
                autocomplete
                item-text="name"
                item-value="id"
        ></v-select>
        <v-text-field name="name" label="Name" autofocus v-model="formData.name" type="text"
                      :error-messages="fieldErrors('name')"></v-text-field>
        <v-text-field name="description" label="Description " v-model="formData.description" type="text"
                      :error-messages="fieldErrors('description')"></v-text-field>

        <v-btn :class="submitColor" @click="submit()">{{submitMessage}}</v-btn>
        <v-progress-linear v-if="submitting" v-bind:indeterminate="true"
                           :disabled="submitting"></v-progress-linear>
    </v-form>
</template>
<script>
  import formMixin from '../../../mixins/form-mixin'

  export default {
    name: 'task-create-form',
    mixins: [formMixin],
    data () {
      return {
        projects: null,
        formData: {
          project_id: null,
          name: '',
          description: ''
        }
      }
    },
    created () {
      this.formData.project_id = parseInt(this.$store.state.routeModule.query.project_id) || null
      this.$projects.index()
        .then((projects) => {
          this.projects = projects
        })
        .catch(err => console.log)
    },
    methods: {
      submit () {
        this.submitForm(this.$tasks.store(this.formData))
          .then(() => {
            return this.$router.push({name: 'project-single', params:{id:this.formData.project_id}})
          })
          .catch(err => {
            console.log(err.message)
          })
      }
    }
  }
</script>