<template>
    <v-form>
        <v-alert color="error" icon="warning" :value="errorMessage">
            {{errorMessage}}
        </v-alert>

        <v-text-field name="firstname" label="First Name" autofocus v-model="formData.first" type="text"
                      :error-messages="firstErrors"></v-text-field>
        <v-text-field name="lastname" label="Last Name" v-model="formData.last" type="text"
                      :error-messages="lastErrors"></v-text-field>
        <v-text-field name="email" label="Email" v-model="formData.email" type="email"
                      :error-messages="emailErrors"></v-text-field>
        <v-text-field name="password" label="Password" v-model="formData.password" type="password"
                      :error-messages="passwordErrors"></v-text-field>
        <v-text-field name="password_confirmation" label="Confirm Password" v-model="formData.password_confirmation"
                      type="password" @keyup.enter="register()"
                      :error-messages="passwordErrors"></v-text-field>

        <v-btn :class="submitColor" @click="login()">{{submitMessage}}</v-btn>
        <v-progress-linear v-if="submitting" v-bind:indeterminate="true"
                           :disabled="submitting"></v-progress-linear>
    </v-form>
</template>
<script>
  import { formComponentMixin } from '../../../../utils/utils'
  import editUserFormModule from './edit-user-form-module'

  export default {
    name: 'user-edit-form',
    mixins: [formComponentMixin(editUserFormModule)],
    data () {
      return {
      }
    },
    created () {
      this.copyMe()
    },
    methods: {
      copyMe () {
        let currentUser = this.$store.state.authModule.me
        this.formData.first = currentUser.first
        this.formData.last = currentUser.last
        this.formData.email = currentUser.email
      },
      login () {
        this.submitForm()
          .then(() => {
            return this.$store.dispatch('authModule/me')
          })
          .then(() => {
            this.copyMe()
            this.formData.password = ''
            this.formData.password_confirmation = ''
          })
          .catch(err => {
            console.log(err.message)
          })
      }
    }
  }
</script>