<template>
    <v-form>
        <v-alert color="error" icon="warning" :value="errorMessage">
            {{errorMessage}}
        </v-alert>
        <v-text-field
                v-if="!hasEmailParam"
                name="email"
                label="Email"
                v-model="formData.email"
                type="email"
                :error-messages="emailErrors"
        ></v-text-field>
        <v-btn
                :class="submitColor"
                :disabled="submitting"
                @click="submitForm()"
        >
            {{submitMessage}}
        </v-btn>
        <v-progress-linear v-if="submitting" v-bind:indeterminate="true"></v-progress-linear>
    </v-form>
</template>
<script>
  import { formComponentMixin } from 'utils/utils'
  import resendVerificationFormModule from './resend-verification-form-module'

  export default {
    name: 'resend-verification-form',
    mixins: [formComponentMixin(resendVerificationFormModule)],
    data () {
      return {
        hasEmailParam: false,
      }
    },
    created () {
      this.formData.email = this.$store.state.routeModule.query.email || ''
      if (this.formData.email) {
        this.hasEmailParam = true
      }
    }
  }
</script>