<template>
    <div>
        <dashboard-layout v-if="$route.meta.layout !== 'auth'">
            <router-view :key="$route.path"></router-view>
        </dashboard-layout>
        <auth-layout v-else="!$store.state.authModule.me">
            <router-view :key="$route.path"></router-view>
        </auth-layout>

    </div>
</template>
<script>
  /**
   * Main application entry-point component.
   */
  import DashboardLayout from './layouts/dashboard-layout'
  import AuthLayout from './layouts/auth-layout'

  export default {
    name: 'app',
    components: {
      DashboardLayout,
      AuthLayout
    }
  }
</script>
