<template>
    <v-app>
        <v-toolbar fixed app clipped-left>
            <v-toolbar-title v-text="title"></v-toolbar-title>
        </v-toolbar>
        <v-content>
            <slot></slot>
        </v-content>
        <v-footer fixed="fixed" app>
            <span>&copy; 2017</span>
        </v-footer>
    </v-app>
</template>
<script type="text/javascript">
  /**
   * Application wrapper layout.
   */

  export default {
    name: 'dashboard-layout',
    data () {
      return {
        drawer: true,
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Web Application Boilerplate'
      }
    }
  }
</script>
