<template>
    <v-app>
        <dashboard-sidebar :toggle="drawer && $sidebar.getCurrent()" :miniVariant="miniVariant"></dashboard-sidebar>
        <v-toolbar fixed app clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-btn icon @click.stop="miniVariant = !miniVariant">
                <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
            </v-btn>
            <v-toolbar-title v-text="title"></v-toolbar-title>
            <v-spacer></v-spacer>
            <notifications-list v-if="$store.state.authModule.me" />
            <v-menu bottom left>
                <v-btn icon slot="activator">
                    <v-icon dark>account_circle</v-icon>
                </v-btn>
                <v-list>
                    <v-list-tile @click="$router.push({ name: 'account'})">
                        <v-list-tile-title>Account</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="logout()">
                        <v-list-tile-title>Logout</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar>
        <v-content>
            <slot></slot>
        </v-content>
        <v-footer fixed="fixed" app>
            <span>&copy; 2017</span>
        </v-footer>
    </v-app>
</template>
<script type="text/javascript">
  /**
   * Application wrapper layout.
   */
  import DashboardSidebar from './menus/dashboard-sidebar.vue'
  import NotificationsList from '../features/notifications/components/notifications-dropdown'

  export default {
    name: 'dashboard-layout',
    data () {
      return {
        drawer: true,
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Web Application Boilerplate'
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('authModule/logout')
          .then(response => {
            this.$router.push({name: 'login'})
          })
          .catch(err => {
            console.error(err)
          })
      }
    },

    components: {
      DashboardSidebar,
      NotificationsList
    }
  }
</script>
