<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex>
                <v-card v-if="project">
                    <v-card-text>
                        <h1>{{project.name}}</h1>
                        <p>{{project.description}}</p>
                        <v-btn @click="destroy()">Delete</v-btn>
                        <v-btn @click="edit()">Edit</v-btn>
                        <v-btn @click="addTask()">Add Task</v-btn>
                        <TaskList :tasks="project.tasks"></TaskList>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import ProjectDetails from '../components/projects-list/projects-list'
  import TaskList from '../../tasks/components/task-list'

  export default {
    name: 'project-single-page',
    data () {
      return {
        project: null

      }
    },
    created () {
      let id = parseInt(this.$store.state.routeModule.params.id)
      this.$projects.show(id)
        .then((project) => this.project = project)
        .catch(err => console.log)
    },
    methods: {
      destroy () {
        this.$projects.destroy(this.project.id)
          .then(() => {
            this.$router.push({name: 'projects'})
          })
          .catch(() => {
            console.log(err)
          })
      },
      edit () {
        this.$router.push({name: 'project-edit', params: {id: this.project.id}})
      },
      addTask () {
        this.$router.push({name: 'task-create', query: {project_id: this.project.id}})
      }

    },
    components: {
      TaskList
    }
  }

</script>