<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex>
                <v-card>
                    <v-card-text>
                        <h1>Edit Project</h1>
                        <v-form>
                            <v-alert color="error" icon="warning" :value="errorMessage">
                                {{errorMessage}}
                            </v-alert>

                            <v-text-field name="name" label="Name" autofocus v-model="formData.name" type="text"
                                          :error-messages="fieldErrors('name')"></v-text-field>
                            <v-text-field name="description" label="Description " v-model="formData.description"
                                          type="text"
                                          :error-messages="fieldErrors('description')"></v-text-field>

                            <v-btn :class="submitColor" @click="submit()">{{submitMessage}}</v-btn>
                            <v-progress-linear v-if="submitting" v-bind:indeterminate="true"
                                               :disabled="submitting"></v-progress-linear>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import formMixin from '../../../mixins/form-mixin'

  export default {
    name: 'project-edit-page',
    mixins: [formMixin],
    data () {
      return {
        formData: {
          owner_id: null,
          owner_type: null,
          name: '',
          description: ''
        }
      }
    },
    created () {
      let id = parseInt(this.$store.state.routeModule.params.id)
      this.$projects.show(id)
        .then(project => {
          this.formData = project
        })
        .catch(err => console.log)
    },
    methods: {
      submit () {
        this.submitForm(this.$projects.update(this.formData))
          .then(() => {
            return this.$router.push({
              name: 'project-single', params: {
                id: this.formData.id
              }
            })
          })
          .catch(err => {
            console.log(err.message)
          })
      }
    }
  }

</script>