<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex>
                <v-card>
                    <v-card-text>
                        <h1>Projects</h1>
                        <v-btn @click="$router.push({name:'project-create'})">Create Project</v-btn>
                        <ProjectList v-if="projects" :projects="projects"/>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import ProjectList from '../components/projects-list/projects-list'

  export default {
    name: 'projects-page',
    data () {
      return {
        projects: null
      }
    },
    created () {
      this.$projects.index()
        .then((projects) => {
          this.projects = projects
        })
        .catch(err => console.log)
    },
    components: {
      ProjectList
    }
  }

</script>