<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex>
                <v-card>
                    <v-card-text>
                        <h1>Create a Project</h1>
                        <ProjectCreateForm/>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import ProjectCreateForm from '../components/project-create-form/project-create-form'

  export default {
    name: 'project-create-page',
    data () {
      return {}
    },
    created () {

    },
    components: {
      ProjectCreateForm
    }
  }

</script>