<template>
    <v-form>
        <v-alert color="error" icon="warning" :value="errorMessage">
            {{errorMessage}}
            <v-btn v-if="notVerified"
                   @click="goToVerification()">Verify Account
            </v-btn>
        </v-alert>
        <v-text-field
                name="email"
                label="Email"
                autofocus
                v-model="formData.email"
                type="email"
                :error-messages="emailErrors"
        ></v-text-field>
        <v-text-field
                name="password"
                label="Password"
                v-model="formData.password"
                type="password"
                @keyup.enter="login()"
                :error-messages="passwordErrors"
        ></v-text-field>

        <v-btn :class="submitColor" :disabled="submitting" @click="login()">{{submitMessage}}</v-btn>
        <v-btn class="secondary" @click="goToRegister()">Don't have an account?</v-btn>

        <p class="text-xs-right">
            <router-link :to="{name:'requestpasswordreset'}">Forgot Password?</router-link>
        </p>

        <v-progress-linear v-if="submitting" v-bind:indeterminate="true"></v-progress-linear>
    </v-form>
</template>
<script>
  import { formComponentMixin } from 'utils/utils'
  import loginFormModule from './login-form-module'

  /**
   * Login form
   * Allows user to login to the application.
   */
  export default {
    name: 'login-form',
    mixins: [formComponentMixin(loginFormModule)],
    data () {
      return {
        notVerified: false
      }
    },
    methods: {
      goToVerification () {
        this.$router.push({name: 'verifyemail', query: {email: this.formData.email}})
      },
      goToRegister () {
        this.$router.push({name: 'register'})
      },
      login () {
        this.submitForm()
          .then(() => {
            setTimeout(() => {
              if (this.$route.params.redirect) {
                this.$router.push({path: this.$route.params.redirect.fullPath})
              } else {
                this.$router.push({name: 'home'})
              }
            }, 1000)
          })
          .catch(err => {
            if (err.code === 'NOT_VERIFIED') {
              this.notVerified = true
            }
          })
      }
    }
  }
</script>