<template>
    <div v-if="!verified">
        <v-alert color="error" icon="warning" :value="verifyErrorMessage">
            {{verifyErrorMessage}}
        </v-alert>
        <p v-if="!verifyErrorMessage">Verifying Token</p>
    </div>
    <div v-else>
        <v-form v-if="!showSuccessInfo">
            <v-alert color="error" icon="warning" :value="errorMessage">
                {{errorMessage}}
            </v-alert>

            <v-text-field name="email" label="Email" autofocus v-model="formData.email" type="email"
                          :error-messages="emailErrors"></v-text-field>

            <v-text-field name="password" label="Password" v-model="formData.password" type="password"
                          :error-messages="passwordErrors"></v-text-field>

            <v-text-field name="password_confirmation" label="Confirm Password" v-model="formData.password_confirmation"
                          type="password" @keyup.enter="submit()"
                          :error-messages="passwordErrors"></v-text-field>

            <v-btn :class="submitColor" @click="submit()">{{submitMessage}}</v-btn>
        </v-form>
        <div v-else>
            <p>
                Your password has been changed. Please click the link below to login.
            </p>
            <v-btn @click="$router.push({name: 'login'})">Go to Login Page</v-btn>
        </div>
        <v-progress-linear v-if="submitting || submittingToken" v-bind:indeterminate="true"></v-progress-linear>
    </div>
</template>
<script>
  import { formComponentMixin } from 'utils/utils'
  import resetPasswordFormModule from './reset-password-form-module'

  export default {
    name: 'password-reset-form',
    mixins: [formComponentMixin(resetPasswordFormModule)],
    data () {
      return {
        verified: false,
        showSuccessInfo: false,
        verifyErrorMessage: false
      }
    },
    created () {
      this.formData.token = this.$store.state.routeModule.query.token
      if (this.formData.token) {
        this.verifyToken()
      } else {
        this.verifyErrorMessage = 'Invalid token'
      }
    },
    methods: {
      submit () {
        this.submitForm('passwordResetFormModule')
          .then(() => {
            setTimeout(() => {
              this.showSuccessInfo = true
            }, 1000)
          })
      },
      verifyToken () {
        this.submittingToken = true
        //Time out to provide user time to experience feedback
        this.$store.dispatch('authModule/verifyPasswordResetToken', {token: this.formData.token})
          .then(({data: {message}}) => {
            this.verified = true
            this.submittingToken = false
          })
          .catch((err) => {
            this.verifyErrorMessage = err.message
          })
      }
    }
  }
</script>