<template>
    <v-form v-if="!showSuccessInfo">
        <v-alert
                color="error"
                icon="warning"
                :value="errorMessage"
        >
            {{errorMessage}}
        </v-alert>

        <v-text-field
                name="email"
                label="Email"
                autofocus
                v-model="formData.email"
                type="email"
                :error-messages="emailErrors"
        ></v-text-field>

        <v-btn
                :class="submitColor"
                @click="submit()"
                :disabled="submitting"
        >
            {{submitMessage}}
        </v-btn>

        <v-progress-linear v-if="submitting" v-bind:indeterminate="true"></v-progress-linear>
    </v-form>
    <div v-else>
        <p>
            A password reset link has been sent to your email.
            Please click the link in the email to reset your password.
        </p>
        <p>
            Feel free to close this page.
        </p>
    </div>
</template>
<script>
  import { formComponentMixin } from 'utils/utils'
  import requestPasswordResetFormModule from './request-password-reset-form-module'

  export default {
    name: 'request-password-reset-form',
    mixins: [formComponentMixin(requestPasswordResetFormModule)],
    data () {
      return {
        showSuccessInfo: false
      }
    },
    methods: {
      submit () {
        this.submitForm()
          .then(() => {
            setTimeout(() => {
              this.showSuccessInfo = true
            }, 1000)
          })
          .catch(err => console.log)
      }
    }
  }
</script>