<template>
    <v-container fluid grid-list-md fill-height>
        <v-layout row wrap align-center justify-space-around>
            <v-flex sm6>
                <v-card>
                    <v-card-text v-if="!token && !verified">
                        <h1>Verify Your Account</h1>
                        <p>
                            An email has been sent to your inbox. Please click the link to verify your email.
                        </p>
                        <p>
                            If you do not see this email, check your spam folder. If you still cannot find it,
                            try sending the verification email again
                        </p>
                        <resend-verification-form/>
                    </v-card-text>
                    <v-card-text v-if="token && !verified">
                        <h1>Account Verification</h1>
                        <p v-if="!errorMessage">{{verifyMessage}}</p>
                        <v-alert color="error" icon="warning" :value="errorMessage">
                            {{errorMessage}}
                        </v-alert>
                    </v-card-text>
                    <v-card-text v-if="verified">
                        <h1>Account Verified</h1>
                        <p v-if="!errorMessage">Your Account has been verified. Click the following link to log in.</p>
                        <v-btn class="primary" @click="$router.push({name:'login'})">Go to Login Page</v-btn>
                    </v-card-text>
                    <v-progress-linear v-if="submitting" v-bind:indeterminate="true"
                                       :disabled="submitting"></v-progress-linear>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import ResendVerificationForm from '../components/resend-verification-form/resend-verification-form'

  export default {
    name: 'email-verification-page',
    data () {
      return {
        token: null,
        verifyMessage: 'Verifying your token. Please wait.',
        errorMessage: false,
        submitting: false,
        verified: false,
      }
    },
    created () {
      this.token = this.$store.state.routeModule.query.token
      if (this.token) {
        this.verifyToken()
      }
    },
    methods: {
      verifyToken () {
        this.submitting = true
        //Time out to provide user time to experience feedback
        setTimeout(() => {
          this.$store.dispatch('authModule/verifyEmail', {token: this.token})
            .then(({data: {message}}) => {
              this.verifyMessage = message
              this.verified = true
            })
            .catch((err) => {
              this.errorMessage = err.message
            })
            .then(() => {
              this.submitting = false
            })
        }, 1000)
      }
    },
    components: {
      ResendVerificationForm
    }
  }
</script>