<template>
    <v-container fluid grid-list-md fill-height >
        <v-layout row wrap align-center justify-space-around>
            <v-flex sm6>
                <v-card>
                    <v-card-text>
                        <h1>Log In</h1>
                        <login-form/>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import LoginForm from '../components/login-form/login-form.vue'

  export default {
    name: 'login-page',
    components: {
      LoginForm
    }
  }
</script>