<template>
    <v-container fluid grid-list-md fill-height>
        <v-layout row wrap align-center justify-space-around>
            <v-flex sm6>
                <v-card>
                    <v-card-text>
                        <h1>Register</h1>
                        <register-form/>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import RegisterForm from '../components/register-form/register-form.vue'

  export default {
    name: 'register-page',
    components: {
      RegisterForm
    }
  }
</script>