<template>
    <v-container fluid grid-list-md fill-height>
        <v-layout row wrap align-center justify-space-around>
            <v-flex sm6>
                <v-card>
                    <v-card-text>
                        <h1>Request Password Reset</h1>
                        <RequestPasswordResetForm/>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import RequestPasswordResetForm from '../components/request-password-reset-form/request-password-reset-form'

  export default {
    name: 'request-password-reset-page',
    components: {
      RequestPasswordResetForm
    }
  }
</script>