<template>
    <v-container fluid grid-list-md fill-height>
        <v-layout row wrap align-center justify-space-around>
            <v-flex sm6>
                <v-card>
                    <v-card-text>
                        <h1>Request Password Reset</h1>
                        <ResetPasswordForm/>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script type="text/javascript">
  import ResetPasswordForm from '../components/reset-password-form/reset-password-form'

  export default {
    name: 'reset-password-page',
    components: {
      ResetPasswordForm
    }
  }
</script>