<template>
    <v-menu bottom left :disabled="notifications.length === 0">
        <v-btn icon slot="activator">
            <v-icon v-if="notifications.length === 0">notifications_none</v-icon>
            <v-icon v-else dark>notifications</v-icon>
        </v-btn>
        <v-card>
            <v-card-text>
                <v-subheader>Notifications</v-subheader>
                <v-list>
                    <v-list-tile v-for="notification in notifications" :key="notification.id"
                                 :to="notification.data.link">
                        <v-list-tile-title>{{notification.data.message}}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
                <v-btn @click="clearNotifications()">Clear All</v-btn>
            </v-card-text>
        </v-card>
    </v-menu>
</template>
<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'notifications-dropdown',
    data () {
      return {}
    },
    created () {
      console.log('creating notifications component')
      this.getNotifications()
      let interval = setInterval(() => {
        if (!this.$store.state.authModule.me) {
          clearInterval(interval)
        } else {
          this.getNotifications()
        }
      }, 30000)
    },
    methods: {
      ...mapActions('notificationsModule', {
        getNotifications: 'index',
        readNotification: 'destroy',
        clearNotifications: 'destroyAll'
      })
    },
    computed: {
      ...mapState('notificationsModule', ['notifications'])
    }
  }
</script>