<template>
    <v-form>
        <v-alert color="error" icon="warning" :value="errorMessage">
            {{errorMessage}}
        </v-alert>

        <v-text-field name="name" label="Name" autofocus v-model="formData.name" type="text"
                      :error-messages="fieldErrors('name')"></v-text-field>
        <v-text-field name="description" label="Description " v-model="formData.description" type="text"
                      :error-messages="fieldErrors('description')"></v-text-field>

        <v-btn :class="submitColor" @click="submit()">{{submitMessage}}</v-btn>
        <v-progress-linear v-if="submitting" v-bind:indeterminate="true"
                           :disabled="submitting"></v-progress-linear>
    </v-form>
</template>
<script>
  import formMixin from '../../../../mixins/form-mixin'

  export default {
    name: 'project-create-form',
    mixins: [formMixin],
    data () {
      return {
        formData: {
          owner_id: null,
          owner_type:null,
          name: '',
          description:''
        }
      }
    },
    created () {
      this.formData.owner_id = this.$store.state.authModule.me.id
      this.formData.owner_type = 'App\\User'
    },
    methods: {
      submit () {
        this.submitForm(this.$projects.store(this.formData))
          .then(() => {
            return this.$router.push({name: 'projects'})
          })
          .catch(err => {
            console.log(err.message)
          })
      }
    }
  }
</script>